<template>
  <h2>Contracts List</h2>
  <div class="p-col-8 p-offset-2 p-shadow-20 table-layout">
    <DataTable :value="contracts" v-on:row-click="rowSelected($event.data)" :resizableColumns="true" columnResizeMode="fit" showGridlines dataKey="id">
      <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field"></Column>
      <template #footer v-if="!contracts.length">
        No Contracts Available
      </template>
      <template #loading>
        Loading contracts, please wait...
    </template>
    </DataTable>
    <Button class="mt" label="Create New" v-on:click="createNew()"/>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { mapState } from 'vuex';
import { ContractModel } from '@/models/contract.model';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

interface ContractColumn {
  field: string;
  header: string;
}

export default defineComponent({
  data() {
    return {
      selectedContract: {},
      columns: [] as ContractColumn[],
    };
  },

  components: {
    DataTable,
    Column,
  },

  computed: {
    ...mapState({
      contracts: (state: any) => state.contractsModule.contracts,
    }),
  },

  methods: {
    createNew() {
      this.$router.push('/contracts/new');
    },
    rowSelected(selectedContract: ContractModel) {
      this.$router.push(`/contracts/${selectedContract.id}`);
    },
  },

  created() {
    this.columns = [
      { field: 'firstName', header: 'First Name' },
      { field: 'lastName', header: 'Last Name' },
      { field: 'email', header: 'Email' },
      { field: 'country.name', header: 'Country' },
    ];
  },
});
</script>
<style>
.table-layout{
  background: white;
}
</style>
