<template>
  <h3>Contract {{this.$route.params.id}}</h3>
  <div class="card" v-bind="$attrs">
    <div class="p-col-6 p-offset-3 p-shadow-20 form-layout">
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstName">First Name</label>
          <InputText id="firstName" v-model="formData.firstName" maxLength="50" type="text" :disabled="!canEdit()"/>
          <small v-if="(formSubmitted && !formData.firstName.length) || error === 'firstName'">Please enter a first name</small>
        </div>
        <div class="p-field">
          <label for="lastName">Last Name</label>
          <InputText id="lastName" v-model="formData.lastName" maxLength="50" type="text" :disabled="!canEdit()"/>
          <small v-if="(formSubmitted && !formData.lastName.length) || error === 'lastName'">Please enter a last name</small>
        </div>
        <div class="p-field">
          <label for="email">Email</label>
          <InputText id="email" v-model="formData.email" type="text" maxLength="50" :disabled="!canEdit()"/>
          <small v-if="(formSubmitted && !emailValidation(formData.email)) || error === 'email'">Please enter a valid email</small>
        </div>
        <div class="p-field">
          <p>Country</p>
          <AutoComplete
            v-model="formData.country"
            :dropdown="true"
            :disabled="!canEdit()"
            :suggestions="filteredCountries"
            @complete="searchCountry($event)"
            field="name">
            <template #item="slotProps">
              <div class="country-item">
                <img
                  :class="'flag flag-' + slotProps.item.code.toLowerCase()" />
                <div>{{slotProps.item.name}}</div>
              </div>
            </template>
          </AutoComplete>
          <small v-if="(formSubmitted && !formData.country ) || error === 'country'">Please select a country</small>
        </div>
      </div>
      <div class="p-d-flex p-jc-around">
        <Button label="Back" v-on:click="goBack()"/>
        <Button v-if="editEnabled && !isNewContract" label="Cancel" v-on:click="cancelEdit()"/>
        <Button v-if="canEdit()" label="Submit" v-on:click="handleSubmit()"/>
        <Button v-if="!canEdit()" label="Edit" v-on:click="enableEdit()"/>
        <Button v-if="!canEdit()" label="Delete" class="p-button-danger" v-on:click="deleteThis()"/>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { mapMutations, mapGetters } from 'vuex';
import { getData } from 'country-list';
import { Country } from '@/models/contract.model';
import globalUtils from '@/utils/utils';

export default defineComponent({
  data() {
    return {
      formData: {
        firstName: '',
        lastName: '',
        email: '',
        country: '',
      },
      filteredCountries: [] as Country[],
      formSubmitted: false,
      editEnabled: false,
      error: '',
    };
  },

  computed: {
    ...mapGetters(['getContract']),

    countries(): Array<Country> {
      return getData();
    },

    isNewContract() {
      return this.$route.params.id === 'new';
    },

    currentId() {
      return this.$route.params.id;
    },
  },

  methods: {
    ...globalUtils,
    ...mapMutations(['addContract', 'editContract', 'deleteContract']),
    searchCountry(event: {query: string}) {
      setTimeout(() => {
        if (!event.query.trim().length) {
          this.filteredCountries = [...this.countries];
        } else {
          this.filteredCountries = this.countries.filter((country) => country.name.toLowerCase().startsWith(event.query.toLowerCase()));
        }
      }, 250);
    },

    handleSubmit() {
      this.formSubmitted = true;
      const { isValid, error } = this.validateForm(this.formData);
      if (isValid) {
        if (this.$route.params.id === 'new') {
          this.addContract({
            ...this.formData,
            id: this.generateId(),
          });
          this.$router.push('/contracts');
        } else {
          this.editContract({
            ...this.formData,
          });
          this.$router.push('/contracts');
        }
      } else {
        this.error = error;
      }
    },

    enableEdit() {
      this.editEnabled = !this.editEnabled;
    },

    initState() {
      this.formData = { ...this.getContract(this.currentId) };
    },

    canEdit() {
      return this.isNewContract || this.editEnabled;
    },

    cancelEdit() {
      this.editEnabled = false;
      this.initState();
    },

    deleteThis() {
      this.deleteContract(this.currentId);
      this.$router.push('/contracts');
    },

    goBack() {
      this.$router.push('/contracts');
    },
  },

  mounted() {
    if (this.currentId && this.currentId !== 'new') {
      this.initState();
    }
  },
});
</script>
<style>
.gi-form-input{
 margin: 0px 0px 30px 0px;
}
.form-layout{
  padding: 15px;
  background: white;
}
small {
  color: red;
}
label {
  width: 100%;
  text-align: start;
}
p {
  text-align: start;
  margin: 10px 0px;
}
</style>
