$default-margin-small: 10px;

.ml{
    margin-left: $default-margin-small;
}
.mt{
    margin-top: $default-margin-small;
}
.mr{
    margin-right: $default-margin-small;
}
.mb{
    margin-bottom: $default-margin-small;
}
.mall{
    margin: $default-margin-small;
}