<template>
  <router-view/>
</template>

<style lang="scss">
html, body, #app{
  height: 100%;
  padding: 0px;
  margin: 0px;
}
h1, h2, h3{
  color: white;
  margin: 0px 10% 20px 10%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8);

}
</style>
